openapi: 3.0.1
info:
  title: "Alor OpenAPI V2"
  description: |
    API для работы с торговой системой АЛОР Брокер. Предоставляет интерфейсы для выставления заявок и получения биржевой информации.
    
    Данные для неавторизованных запросов предоставляются с задержкой от 15 минут, для авторизованных - без задержек. 
    
    Публичная биржевая информация может быть получена через HTTP(S) API, а также доступна через однократно установленное WebSocket соединение. <br>
    **Внимание!** WebSocket соединения могут и будут разрываться *(например, если клиент не успевает обрабатывать сообщения и на стороне API в буфере накопится более 5000 событий)*. <br>
    Во внешнем ПО необходимо предусмотреть механизмы переподключения и переподписки (при необходимости)! <br> <br> 
    В OpenAPI V2 доступны "Московская Биржа" (MOEX) и "Биржа СПБ" (SPBX). 
    
    <h4> Доступные типы данных </h4>
     * Все сделки
     * Все заявки
     * Информация по инструментам
     * Котировки
     * Биржевые стаканы
     * Исторические данные
     * Позиции
     * Информация о клиенте
    
    <h4>Поддерживаемые виды заявок</h4>
     * рыночные
     * лимитные
     * стоп-лосс
     * тейк-профит
     * стоп-лосс лимит
     * тейк-профит лимит
    
    <h4>    Ограничения по частоте запросов     </h4>
    <p>На текущий момент ограничений по количеству запросов в минуту или WebSocket-подписок нет. <br/>
    Сервер может обрабатывать "тяжелые" запросы (пример - история за все время) и запросы без авторизации с меньшим приоритетом. <br/>
    АЛОР оставляет за собой право на ограничение частоты запросов, если это будет необходимо для стабильной работы системы. <br/>
    <br/></p>

    
    <h2>
    Авторизация
    </h2>

    <h4>OAuth</h4>

    <b>Внимание!</b>  
    JWT и refresh token — равносильны логину и паролю.
    Их нужно скрывать от публичного доступа.

    <h4>Для разработчиков сторонних приложений, в которых торговлю будут вести их пользователи.</h4>
    
    Мы предоставляем сервис для авторизации сторониих приложений по стандарту OAuth 2.0.
    С примером приложения, использующего OAuth сервис для авторизации пользователей можно ознакомиться в разделе
     <a href="/examples">Примеры</a>.

    Список разрешений (scopes), которые могут быть выданы приложению:
    <table>
      <tr>
        <td><b>OrdersRead</b></td>
        <td>Чтение выставленных заявок</td>
      </tr>
      <tr>
        <td><b>OrdersCreate</b></td>
        <td>Выставление заявок</td>
      </tr>
      <tr>
        <td><b>Trades</b></td>
        <td>Чтение совершенных сделок</td>
      </tr>
      <tr>
        <td><b>Personal</b></td>
        <td>Персональная информация: ФИО, почта и т.п.</td>
      </tr>
      <tr>
        <td><b>Stats</b></td>
        <td>Статистика: прибыль, средние цены и т.п.</td>
      </tr>
    </table>

    <h4>Для ведения операций от своего имени</h4>
    
    Выписать себе <b>refresh token</b> для ведения операций от своего имени [можно здесь](https://alor.dev/open-api-tokens).

    <h2>Краткое описание работы с авторизацией</h2>

    Чтобы выполнить авторизованный запрос, добавьте в запрос заголовок с именем "Authorization"
    и значением, состоящим из префикса `"Bearer "` и валидного JWT токена.

    Срок жизни JWT короткий: это сделано для безопасности. 
    Для большинства вариантов использования API мы рекоммендуем использовать механизм  <b>refresh token</b> .
    
    Механизм  <b>refresh token</b>  позволяет получать JWT с новым сроком жизни.
    Для этого отправьте POST запрос на адрес `https://oauthdev.alor.ru/refresh?token={refreshToken}` *(тестовый контур)* или `https://oauth.alor.ru/refresh?token={refreshToken}` *(боевой контур)*.
    Если у  <b>refresh token</b>  не истек срок жизни и не он не был отозван, то в теле ответа в поле AccessToken вернётся свежий JWT токен. 

    Срок жизни  <b>refresh token</b>, получаемого обычным способом — 1 месяц.  
    Срок жизни  <b>refresh token</b>, получаемого самостоятельным выписыванием — год.

    |
    |-
    
    > Если мы для вас не завели портфели для ведения торговли в игровом контуре, оставьте заявку на <a href="mailto:openapi@alor.ru">openapi@alor.ru</a> или свяжитесь с нами в [телеграме](https://t.me/AlorOpenAPI).

    </br></br>
    Тестовый контур: `https://apidev.alor.ru`

    Боевой контур: `https://api.alor.ru`
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  version: '1.0'
  termsOfService: "http://alorbroker.ru"
  contact:
    email: "openapi@alor.ru"
servers:
 - url: "https://apidev.alor.ru"

paths:
  /client/v1.0/users/{username}/portfolios:
     get:
       tags:
         - "Информация о клиенте"
        #- Warp.API.HTTP.Marketdata
       summary: 'Получение списка серверов портфелей'
       description: 'Получение списка серверов. В ответе в поле tradeServerCode содержится значение которое надо использовать. Не являются частью API торговой системы.'
       operationId: DevUserPortfolio
       parameters:
         - name: username
           in: path
           description: 'Имя пользователя'
           required: true
           style: simple
           explode: false
           schema:
             type: string
           example: P039004
       responses: 
         '200':
           description: 'OK' 
           content:
             application/json:
               schema:
                $ref: "#/components/schemas/servers_info"
       deprecated: false
       security: 
         - bearerAuth: []


  /md/v2/clients/{exchange}/{portfolio}/orders:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Информация о клиенте"
     summary: 'Получение информации о всех заявках'
     description: "Запрос информации о всех заявках"
     operationId: DevGetAllOrders
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
         example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
  /md/v2/clients/{exchange}/{portfolio}/orders/{orderId}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Информация о клиенте"
     summary: 'Получение информации о выбранной заявке'
     description: "Запрос информации о выбранной заявке"
     operationId: DevGetOneOrder
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: orderId
         in: path
         description: 'Идентификатор заявки'
         required: true
         style: simple
         explode: false
         schema:
           type: integer
         example: 18995978560
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
         example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/order"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
       '404':
          description: 'Указанный orderId не найден'
     deprecated: false
     security: 
       - bearerAuth: []
 
       
  /md/v2/clients/legacy/{exchange}/{portfolio}/money:
   get: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Информация о клиенте"
     summary: "Получение информации по деньгам для выбранного портфеля"
     description: "Запрос информации о позиции по деньгам. Вызов существует для обратной совместимости с API v1, предпочтительно использовать другие вызовы (/summary, /risk, /positions)"
     operationId: "ExchangePortfolioMoney"
     parameters: 
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "D39004"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/money"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/clients/{exchange}/{portfolio}/summary:
   get: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Информация о клиенте"
     summary: "Получение информации о портфеле"
     description: "Запрос сводной информации о портфеле"
     operationId: "ExchangePortfolioSummary"
     parameters: 
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "D39004"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses: 
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/summary"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/positions:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение информации о позициях"
     description: "Запрос информации о позициях"
     operationId: "DevGetAllPositions"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX"
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
       - name: withoutCurrency
         in: query
         description: 'Исключить из ответа все денежные инструменты, по умолчанию false'
         required: false
         schema:
           type: boolean
           enum: 
            - true
            - false
           example: false
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/positions"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/positions/{symbol}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение информации о позициях выбранного инструмента"
     description: "Запрос информации о позициях выбранного инструмента"
     operationId: "DevGetOnePosition"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX"
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: symbol
         in: path
         description: 'Тикер (Код финансового инструмента)'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "LKOH"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/position"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
       '404':
         description: 'Указанный symbol не найден' 
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/trades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение информации о сделках"
     description: "Запрос информации о сделках (только за текущую торговую сессию)"
     operationId: "DevGetAllTrades"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/{ticker}/trades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение информации о сделках по выбранному инструменту"
     description: "Запрос информации о сделках по выбранному инструменту"
     operationId: "DevGetTickerTrades"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: ticker
         in: path
         description: 'Тикер (Код финансового инструмента)'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "LKOH"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/fortsrisk:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение информации о рисках на срочном рынке"
     description: "Запрос информации о рисках на срочном рынке для выбранного портфеля"
     operationId: "Fortsrisk"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/fortsrisk"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
       
  /md/v2/Clients/{exchange}/{portfolio}/risk:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение информации о рисках"
     description: "Запрос информации о рисках"
     operationId: "Risk"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/risk"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []

  /md/stats/{exchange}/{portfolio}/history/trades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение истории сделок"
     description: "Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос)"
     operationId: "TradeStats"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: dateFrom
         in: query
         description: 'Начиная с какой даты отдавать историю сделок'
         required: false
         schema:
           type: string
           format: date
           example: '2021-10-13'
       - name: from
         in: query
         description: 'Начиная с какого ID (номера сделки) отдавать историю сделок'
         required: false
         schema:
           type: string
           format: integer
           example: 93713183
       - name: limit
         in: query
         description: 'Количество возвращаемых записей (максимум 1000)'
         required: false
         schema:
           type: integer
           example: 50
       - name: descending
         in: query
         description: 'Флаг обратной сортировки выдачи'
         required: false
         style: form
         explode: true
         schema:
           type: boolean
         example: false
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []

  
  /md/stats/{exchange}/{portfolio}/history/trades/{symbol}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
     summary: "Получение истории сделок (один тикер)"
     description: "Запрос списка сделок за предыдущие дни (не более 1000 сделок за один запрос) по одному инструменту. "
     operationId: "TradeStatsBySymbol"
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: symbol
         in: path
         description: 'Фильтр по инструменту'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: SBER
       - name: dateFrom
         in: query
         description: 'Начиная с какой даты отдавать историю сделок'
         required: false
         schema:
           type: string
           format: date
           example: '2021-10-13'
       - name: from
         in: query
         description: 'Начиная с какого ID (номера сделки) отдавать историю сделок'
         required: false
         schema:
           type: string
           format: integer
           example: 93713183
       - name: limit
         in: query
         description: 'Количество возвращаемых записей (максимум 1000)'
         required: false
         schema:
           type: integer
           example: 50
       - name: descending
         in: query
         description: 'Флаг обратной сортировки выдачи'
         required: false
         style: form
         explode: true
         schema:
           type: boolean
         example: false
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/trades"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio'
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/Securities:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     summary: 'Получение информации о торговых инструментах'
     description: 'Запрос информации о торговых инструментах'
     operationId: DevSecuritiesSearch
     parameters:
       - name: 'query'
         in: query
         description: 'Тикер (Код финансового инструмента)'
         required: true
         style: form
         explode: true
         schema:
           type: string
         example: GAZP
       - name: limit
         in: query
         description: 'Ограничение на количество выдаваемых результатов поиска'
         required: false
         style: form
         explode: true
         schema:
           type: integer
           format: int32
         example: 3
       - name: offset
         in: query
         description: 'Смещение начала выборки (для пагинации)'
         required: false
         style: form
         explode: true
         schema:
           type: integer
           format: int32
         example: 10
       - name: 'sector'
         in: query
         description: 'Рынок на бирже'
         required: false
         style: form
         explode: true
         schema:
           type: string
           enum: 
            - "FORTS"
            - "FOND"
            - "CURR" 
         example: 'FOND'
       - name: 'cficode'
         in: query
         description: 'Код финансового инструмента по стандарту ISO 10962'
         required: false
         style: form
         explode: true
         schema:
           type: string
         example: 'EXXXXX'
       - name: exchange
         in: query
         description: 'Биржа'
         required: false
         style: form
         explode: true
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/securities"
     security: 
       - bearerAuth: []
     deprecated: false
     
  /md/v2/Securities/{exchange}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     summary: 'Получение информации о торговых инструментах на выбранной бирже'
     description: 'Запрос информации об инструментах на выбранной бирже'
     operationId: DevSecuritiesSearchExchange
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/securities"
     deprecated: false
     security: 
      - bearerAuth: []
      
  /md/v2/Securities/{exchange}/{symbol}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     summary: 'Получение информации о выбранном финансовом инструменте'
     description: 'Запрос информации о выбранном финансовом инструменте на бирже'
     operationId: DevSecuritiesSearchExchangeCode
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: "symbol"
         in: path
         description: 'Тикер (Код финансового инструмента)'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "SBER"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/security"
       '404':
         description: 'Указанный symbol не найден' 
     deprecated: false
     security: 
      - bearerAuth: []
       
  /md/v2/Securities/{symbols}/quotes:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     summary: 'Получение информации о котировках для выбранных инструментов'
     description: 'Запрос информации о котировках для выбранных инструментов и бирж'
     operationId: DevQuotes
     parameters:
       - name: symbols
         in: path
         description: 'Принимает несколько пар биржа-тикер. Пары отделены запятыми. Биржа и тикер разделены двоеточием'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           example: "MOEX:SBER,MOEX:GAZP,SPBX:AAPL"
         example: "MOEX:SBER,MOEX:GAZP,SPBX:AAPL"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/symbols"
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/orderbooks/{exchange}/{seccode}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     summary: 'Получение информации о биржевом стакане'
     description: 'Запрос биржевого стакана'
     operationId: DevOrderbookExchangSeccode
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: seccode
         in: path
         description: 'Инструмент'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           example: "RTS-9.20"
         example: "RTS-9.20"
       - name: depth
         in: query
         description: 'Глубина стакана. Стандартное и максимальное значение - 20 (20х20).'
         required: false
         style: form
         explode: true
         schema:
           type: integer
           maximum: 20
           minimum: 1
           example: 5
         example: 5        
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
        
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orderbook"
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/Securities/{exchange}/{symbol}/alltrades:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
      #- Warp.API.HTTP.Marketdata
     summary: 'Получение информации о всех сделках по ценным бумагам за сегодня'
     description: "Запросить данные о всех сделках (лента) по ценным бумагам за сегодняшний день"
     operationId: DevSecuritiesSearchAllTrades
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: "symbol"
         in: path
         description: 'Тикер (Код финансового инструмента)'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "SBER"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
         example: Simple
       - name: from
         in: query
         description: 'Начало отрезка времени (UTC) для фильтра результатов в формате Unix Time Seconds'
         required: false
         style: form
         explode: true
         schema:
           type: integer
         example: 1593430060
       - name: to
         in: query
         description: 'Конец отрезка времени (UTC) для фильтра результатов в формате Unix Time Seconds'
         required: false
         style: form
         explode: true
         schema:
           type: integer
         example: 1593430560
       - name: take
         in: query
         description: 'Количество загружаемых элементов'
         required: false
         style: form
         explode: true
         schema:
           type: integer
         example: 10
       - name: descending
         in: query
         description: 'Флаг загрузки элементов с конца списка'
         required: false
         style: form
         explode: true
         schema:
           type: boolean
         example: false
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/alltrades"
       '404':
        description: 'Указанный symbol не найден'
     deprecated: false
     security: 
      - bearerAuth: []
      
  /md/v2/Securities/{exchange}/{symbol}/actualFuturesQuote:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     
     summary: 'Получение котировки по ближайшему фьючерсу (код)'
     description: 'Запрос котировки по ближайшему фьючерсу (только по коду, без даты)'
     operationId: DevSecuritiesFutures
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
       - name: "symbol"
         in: path
         description: 'Тикер (Код финансового инструмента)'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "SBRF"
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
         example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/symbol_futures"
       '404':
        description: 'Указанный symbol не найден'
     deprecated: false
     security: 
      - bearerAuth: []
  
  /md/v2/time:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Другое"
     summary: 'Запрос текущего UTC времени в формате Unix'
     description: 'Запрос текущего UTC времени в формате Unix Time Seconds. Если этот запрос выполнен без авторизации, то будет возвращено время, которое было 15 минут назад.' 
     operationId: LocalTime
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/time"
     deprecated: false
     security: 
       - bearerAuth: []

  /md/v2/risk/rates:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     summary: 'Запрос ставок риска'
     description: 'Получение ставок риска для маржинальной торговли.' 
     operationId: RiskRates
     parameters:
       - name: exchange
         in: query
         description: 'Биржа'
         required: true
         style: form
         explode: false
         schema:
           type: string
           enum: 
           - "MOEX"
           - "SPBX"
       - name: ticker
         in: query
         description: 'Тикер\код инструмента, ISIN для облигаций'
         required: false
         schema:
           type: string
           example: SBER
       - name: riskCategoryId
         in: query
         description: 'Id вашей (или той которая интересует) категории риска. Можно получить из запроса информации по клиенту или через кабинет клиента'
         required: false
         schema:
           type: string
           example: 1
       - name: search
         in: query
         description: 'Часть Тикера\кода инструмента, ISIN для облигаций. Вернет все совпадения, начинающиеся с '
         required: false
         schema:
           type: string
           example: SBER
     responses:
       '200':
         description: 'OK'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/riskRates"
     deprecated: false
     security: 
       - bearerAuth: []
  
  /md/v2/history:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Ценные бумаги / инструменты"
     summary: 'Запрос истории для выбранных биржи и инструмента'
     description: 'Запрос истории рынка для выбранных биржи и финансового инструмента. Данные имеют задержку в 15 минут, если запрос не авторизован. Для авторизованных клиентов задержка не применяется.'
     operationId: DevHistory
     parameters:
       - name: symbol
         in: query
         description: 'Тикер (Код финансового инструмента)'
         required: true
         style: form
         explode: true
         schema:
           type: string
         example: SBER
       - name: exchange
         in: query
         description: 'Биржа'
         required: true
         style: form
         explode: true
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: tf
         in: query
         description: 'Длительность таймфрейма в секундах или код ("D" - дни, "W" - недели, "M" - месяцы, "Y" - годы)' 
         required: true
         style: form
         explode: true
         schema:
           type: string
           enum: 
            - 15
            - 60
            - 300
            - 3600
            - "D"
            - "W"
            - "M"
            - "Y"
         example: '60' #8fb58820-d933-46c4-98be-83343ebd728d
       - name: from
         in: query
         description: 'Начало отрезка времени (UTC) в формате Unix Time Seconds'
         required: true
         style: form
         explode: true
         schema:
           type: integer
           format: int32
         example: 1549000661
       - name: to
         in: query
         description: 'Конец отрезка времени (UTC) в формате Unix Time Seconds'
         required: true
         style: form
         explode: true
         schema:
           type: integer
           format: int32
         example: 1550060661
       - name: untraded
         in: query
         description: 'Флаг для поиска данных по устаревшим или экспирированным инструментам. При использовании требуется точное совпадение тикера'
         required: false
         schema:
           type: boolean
           enum: 
            - true
            - false
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
           example: Simple
         example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/history"
       '404':
        description: 'Указанный symbol не найден'
     deprecated: false
     security: 
       - bearerAuth: []


  /commandapi/warptrans/TRADE/v2/client/orders/actions/market:
    post: 
      tags: 
        -  "Работа с заявками"
      summary: "Создание рыночной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/market"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsMarketTV'
      parameters:
        - name: X-ALOR-REQID
          in: header
          description: 'Через точку с запятой портфель и уникальный идентификатор запроса ``portfolio;uid``. В качестве идентификатора запроса требуется уникальная случайная строка. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на предыдущий запрос с таким значением идентификатора.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "D39004;10338211158548488"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []
  
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit:
    post: 
      tags: 
        -  "Работа с заявками"
      summary: "Создание лимитной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/limit"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsLimitTV'
      parameters:
        - name: X-ALOR-REQID
          in: header
          description: 'Через точку с запятой портфель и уникальный идентификатор запроса ``portfolio;uid``. В качестве идентификатора запроса требуется уникальная случайная строка. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на предыдущий запрос с таким значением идентификатора.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "D39004;10338211158548488"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []
  
  
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConnector"
     summary: "Создание стоп-лосс заявки"
     description: ""
     operationId: "/v2/client/orders/actions/stopLoss"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: false
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConnector"
     summary: "Создание стоп-заявки"
     description: ""
     operationId: "/v2/client/orders/actions/takeProfit"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: false
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConvertor"
     summary: "Создание стоп-лимит заявки"
     description: ""
     operationId: "/v2/client/orders/actions/takeProfitLimit"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: false
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit:
   post: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConvertor"
     summary: "Создание стоп-лосс лимит заявки"
     description: "Создание стоп-лосс лимит заявки"
     operationId: "/v2/client/orders/actions/stopLossLimit"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '400':
         description: 'Bad request' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_400"
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: false
     security: 
       - bearerAuth: []
  
  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLoss/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-лосс заявки"
     description: "Изменение стоп-лосс заявки с указанным номером"
     operationId: "/v2/client/orders/actions/stopLoss/{orderId}"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: orderId
         in: path
         description: 'Идентификатор заявки'
         required: true
         style: simple
         explode: false
         schema:
           type: integer
         example: 93713183   
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: false
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfit/{orderId}:
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-заявки"
     description: "Изменение стоп-заявки с указанным номером"
     operationId: "/v2/client/orders/actions/takeProfit/{orderId}"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStop'
              # верно, тело совпадает со stop.
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: orderId
         in: path
         description: 'Идентификатор заявки'
         required: true
         style: simple
         explode: false
         schema:
           type: integer
         example: 93713183   
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-696sat"
     responses: 
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: false
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/takeProfitLimit/{orderId}:
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-лимит заявки"
     description: "Изменение стоп-лимит заявки с указанным номером"
     operationId: "/v2/client/orders/actions/takeProfitLimit/{orderId}"
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: orderId
         in: path
         description: 'Идентификатор заявки'
         required: true
         style: simple
         explode: false
         schema:
           type: integer
         example: 93713183
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
     deprecated: false
     security: 
       - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/actions/stopLossLimit/{orderId}:
   put: 
     servers:
       - url: "https://apidev.alor.ru"
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConvertor"
     summary: "Изменение стоп-лосс лимит заявки"
     description: "Изменение стоп-лосс лимит заявки с указанным номером"
     operationId: "/v2/client/orders/actions/stopLossLimit/{orderId}"
     #в коде stopLossLimit потерялся, зато есть два takeProfitLimit
     requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStoplimit'
              #верно, тело совпадает с stoplimit
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: orderId
         in: path
         description: 'Идентификатор заявки'
         required: true
         style: simple
         explode: false
         schema:
           type: integer
         example: 93713183
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_StopProfitLoss"
     deprecated: false
     security: 
       - bearerAuth: []

  

  /commandapi/warptrans/TRADE/v2/client/orders/actions/market/{orderId}:
    put: 
      tags: 
        -  "Работа с заявками"
      summary: "Изменение рыночной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/marketput"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsMarketTVput'
      parameters:
        - name: orderId
          in: path
          description: 'Идентификатор заявки'
          required: true
          schema:
            type: string
          example: "23733377307"
        - name: X-ALOR-REQID
          in: header
          description: 'Через точку с запятой портфолио и уникальный идентификатор запроса ``portfolio;uid``. В качестве идентификатора запроса требуется уникальная случайная строка из цифр. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "D39004;10338211158548488;2"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket"
      deprecated: false
      security: 
        - bearerAuth: []
  
  /commandapi/warptrans/TRADE/v2/client/orders/actions/limit/{orderId}:
    put: 
      tags: 
        -  "Работа с заявками"
      summary: "Изменение лимитной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/limitput"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsLimitTVput'
      parameters:
        - name: orderId
          in: path
          description: 'Идентификатор заявки'
          required: true
          schema:
            type: string
          example: "23733311729"
        - name: X-ALOR-REQID
          in: header
          description: 'Через точку с запятой портфолио и уникальный идентификатор запроса ``portfolio;uid``. В качестве идентификатора запроса требуется уникальная случайная строка из цифр. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "D39004;10338211158548488;2"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket"
      deprecated: false
      security: 
        - bearerAuth: []


  /commandapi/warptrans/TRADE/v2/client/orders/{orderId}:
    delete: 
      tags: 
        -  "Работа с заявками"
      summary: "Снятие заявки"
      description: "Снятие заявки с указанным идентификатором"
      operationId: "CommandAPI /v2/client/orders/delete"
      parameters:
        - name: orderId
          in: path
          description: 'Идентификатор заявки'
          required: true
          example: "18946369167"
          schema:
            type: integer
        - name: portfolio
          in: query
          description: 'Идентификатор клиентского портфеля'
          required: true
          schema:
            type: string
          example: "D39004"
        - name: exchange
          in: query
          description: 'Биржа'
          required: true
          schema:
            type: string
            enum:
              - "MOEX"
          example: "MOEX"
        - name: stop
          in: query
          description: 'Является стоп-заявкой?'
          required: true
          schema:
            type: string
            enum:
            - "true"
            - "false"
          example: "false"          
        - name: jsonResponse
          in: query
          description: 'Ответ в формате JSON. В виде отдельного параметра для обратной совместимости.'
          required: false
          schema:
           type: boolean
           enum: 
            - true
            - false
           example: false
        - name: format
          in: query
          description: 'Формат возвращаемого сервером JSON'
          required: false
          schema:
            type: string
            enum: 
              - Simple
          example: "Simple"
          explode: true
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_DeleteOrderId_CommandAPI"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
                type: object
                properties:
                  "code":
                    type: string
                    example: "OrderToCancelNotFound (404)"
                    description: 'Тип ошибки'
                  "message":
                    type: string
                    example: "Order to cancel not found"
                    description: 'Описание ошибки'
      deprecated: false
      security: 
        - bearerAuth: []

  /warptrans/{tradeServerCode}/v2/client/orders/{orderId}:
    #не совпадают виды запросов(путь) в postman и в visualstudio
    #здесь описан путь в соответствии с кодом в visualstudio
   delete: 
     tags: 
      -  "Работа с заявками"
      #-  "Warp.ATConvertor"
     summary: "Снятие стоп-заявки"
     description: "Снятие стоп-заявки с указанным идентификатором"
     operationId: '/v2/client/orders/actions/{orderId}'
     parameters:
       - name: tradeServerCode
         in: path
         description: 'Код торгового сервера'
         required: true
         schema:
           type: string
         example: TRADE
       - name: orderId
         in: path
         description: 'Идентификатор заявки'
         required: true
         style: simple
         explode: false
         schema:
           type: integer
         example: 93713183
       - name: portfolio
         in: query
         description: 'Идентификатор клиентского портфеля'
         required: true
         schema:
           type: string
         example: D39004
       - name: stop
         in: query
         description: 'Является стоп-заявкой?'
         required: true
         schema:
           type: boolean  
         example: true
       - name: X-ALOR-REQID
         in: header
         description: 'Требуется уникальная случайная строка в качестве идентификатора запроса. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на первый запрос с таким значением идентификатора'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: "9823-616stn"
     responses: 
       '200':
         description: 'OK' 
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/orders_actions_DeleteOrderId"
       '400':
         description: 'Bad request'
         content:
           string:
             schema:
               type: string
               example: 'Attempted to change non-owned order'
               description: 'Получено некорректное значение для X-ALOR-REQID или номера заявки'
     deprecated: false
     security: 
       - bearerAuth: []
  /commandapi/warptrans/TRADE/v2/client/orders/estimate:
    post:
      tags:
        - "Работа с заявками"
      summary: Провести оценку одной заявки
      operationId: '/v2/client/orders/actions/estimate'
      requestBody:
        description: Параметры заявки
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/estimateOrderViewModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/estimateOrderModel'
            application/json:
              schema:
                $ref: '#/components/schemas/estimateOrderModel'
            text/json:
              schema:
                $ref: '#/components/schemas/estimateOrderModel'
  /commandapi/warptrans/TRADE/v2/client/orders/estimate/all:
    post:
      tags:
        - "Работа с заявками"
      summary: Провести оценку нескольких заявок
      operationId: '/v2/client/orders/actions/estimate/all'
      requestBody:
        description: Список параметров заявок
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/estimateOrderViewModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/estimateOrderModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/estimateOrderModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/estimateOrderModel'


  "/ws               ":
   trace:
     tags:
       -  "Подписки и события (WebSocket)"
     summary: 'WebSocket подписка на "биржевой стакан"'
     description: |
      **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br>
       Подписка на информацию о биржевом стакане для выбранных биржи и финансового инструмента.<br>
       Поддерживаются только авторизованные запросы.
     operationId: WS_prod_OrderBook
     requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ws_req_OrderBookGetAndSubscribe"
     responses:
       '200':
         description: 'Сообщение о результатах подписки'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_HandledSuccessfully"
       '100':
         description: 'В качестве ответа приходят объекты как в этой схеме'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_OrderBookGetAndSubscribe"
     deprecated: false
     security: []
     servers:
        - url: 'wss://apidev.alor.ru/ws'
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          variables: {}
  "/ws              ":
   trace:
     tags:
       -  "Подписки и события (WebSocket)"
     summary: 'WebSocket подписка на историю цен (свечи)'
     description: |
      **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на историю цен (свечи) для выбранных биржи и финансового инструмента. 
     operationId: WS_prod_BarsGet 
     requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ws_req_BarsGetAndSubscribe"
     responses:
       '200':
         description: 'Сообщение о результатах подписки'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_HandledSuccessfully"
       '100':
         description: 'В качестве ответа приходят объекты как в этой схеме'
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/ws_res_BarsGetAndSubscribe"
     deprecated: false
     security: []
     servers:
        - url: 'wss://apidev.alor.ru/ws'
          variables: {}
        - url: 'wss://api.alor.ru/ws'
          variables: {}

  "/ws             ":
    trace:
      tags:
        -  "Подписки и события (WebSocket)"
      summary: 'WebSocket подписка на информацию о котировках'
      description: |
        **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о котировках для выбранных инструментов и бирж.
      operationId: WS_prod_QuotesSubscribe
      requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_QuotesSubscribe"
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_QuotesSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws                    ":
    trace:
      tags:
        -  "Подписки и события (WebSocket)"
      summary: 'WebSocket подписка на все сделки'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о сделках.
      operationId: WS_prod_AllTradesGetAndSubscribe
      requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_AllTradesGetAndSubscribe"
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/alltrades"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws            ":
      trace:
        tags:
          -  "Подписки и события (WebSocket)"
        summary: 'WebSocket подписка на информацию о текущих позиция по торговым инструментам и деньгам'
        description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих позициях по ценным бумагам и деньгам. 
        operationId: WS_prod_PositionsSubscribe
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_PositionsGetAndSubscribe"
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_PositionsGetAndSubscribe"
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws          ":
    trace:
      tags:
        -  "Подписки и события (WebSocket)"
      summary: 'WebSocket подписка на сводную информацию по портфелю'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на сводную информацию по портфелю.
      operationId: WS_prod_SummariesGetAndSubscribeV2
      requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_SummariesGetAndSubscribeV2'
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_SummariesGetAndSubscribeV2"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}

  "/ws                ":
    trace:
      tags:
        -  "Подписки и события (WebSocket)"
      summary: 'WebSocket подписка на информацию по портфельным рискам'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на сводную информацию по портфельным рискам.
      operationId: WS_prod_RisksGetAndSubscribe
      requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_RisksGetAndSubscribe'
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_RisksGetAndSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}

  "/ws                  ":
    trace:
      tags:
        -  "Подписки и события (WebSocket)"
      summary: 'WebSocket подписка на информацию по рискам срочного рынка (FORTS)'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию по рискам срочного рынка (FORTS).
      operationId: WS_prod_SpectraRisksGetAndSubscribe
      requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_SpectraRisksGetAndSubscribe'
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_SpectraRisksGetAndSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}

  "/ws           ":
    trace:
      tags:
        -  "Подписки и события (WebSocket)"
      summary: 'WebSocket подписка на сделки'
      description: |
          **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о сделках.
      operationId: WS_prod_TradesSubscribe
      requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_req_TradesGetAndSubscribe"
      responses:
        '200':
          description: 'Сообщение о результатах подписки'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        '100':
          description: 'В качестве ответа приходят объекты как в этой схеме'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ws_res_TradesGetAndSubscribe"
      deprecated: false
      security: []
      servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws         ":
    trace:
        tags:
          -  "Подписки и события (WebSocket)"
        summary: 'WebSocket подписка на информацию о стоп-заявках'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
        operationId: WS_prod_StopOrdersSubscribe
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_StopOrdersGetAndSubscribe'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_StopOrdersGetAndSubscribe"
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
 
  "/ws                 ":
    trace:
        tags:
          -  "Подписки и события (WebSocket)"
        summary: 'WebSocket подписка на информацию о заявках'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
        operationId: WS_prod_OrdersSubscribe
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_OrdersGetAndSubscribe'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_OrdersGetAndSubscribe"
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws                     ":
    trace:
        tags:
          -  "Подписки и события (WebSocket)"
        summary: 'WebSocket подписка на изменение информации о финансовых инструментах'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на изменение информации о финансовых инструментах на выбранной бирже.
        operationId: WS_prod_InstrumentsGetAndSubscribeV2
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_InstrumentsGetAndSubscribeV2'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
          '100':
            description: 'В качестве ответа приходят объекты как в этой схеме (только поля, которые изменились). Запросить текущие состояние по всем полям возможно через вызовы группы /securities'
            content:
              application/json:
                examples:
                  sample1:
                    value:
                      priceMax: 104.3
                      priceMin: 100
                      marginbuy: 110
                      marginsell: 80
                      tradingStatus: 17
                      tradingStatusInfo: 'нормальный период торгов'
                  sample2:
                    value:
                      priceMax: 105.3
                      priceMin: 99
                  sample3:
                    value:
                      tradingStatus: 18
                      tradingStatusInfo: 'нет торгов или торги закрыты'
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  "/ws        ":
    trace:
        tags:
          -  "Подписки и события (WebSocket)"
        summary: 'WebSocket отмена существующей подписки.'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
        operationId: WS_prod_Unsubscribe
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_Unsubscribe'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ws_res_HandledSuccessfully"
        deprecated: false
        security: []
        servers:
          - url: 'wss://apidev.alor.ru/ws'
            variables: {}
          - url: 'wss://api.alor.ru/ws'
            variables: {}
  /md/v2/clients/{exchange}/{portfolio}/stoporders:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
       -  "Информация о клиенте"
       - "Стоп-заявки v2 (beta)"
     summary: 'Получение информации о стоп-заявках'
     description: "Запрос информации о всех стоп-заявках"
     operationId: DevGetAllStopOrders
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
         example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/stopordersWarp"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
     deprecated: false
     security: 
       - bearerAuth: []
  /md/v2/clients/{exchange}/{portfolio}/stoporders/{orderId}:
   get:
     servers:
       - url: "https://apidev.alor.ru"
     tags:
      -  "Информация о клиенте"
      - "Стоп-заявки v2 (beta)"
     summary: 'Получение информации о выбранной стоп-заявке'
     description: "Запрос информации о выбранной стоп-заявке"
     operationId: DevGetOneStopOrder
     parameters:
       - name: exchange
         in: path
         description: 'Биржа'
         required: true
         style: simple
         explode: false
         schema:
           type: string
           enum: 
            - "MOEX"
            - "SPBX" 
       - name: portfolio
         in: path
         description: 'Идентификатор клиентского портфеля'
         required: true
         style: simple
         explode: false
         schema:
           type: string
         example: D39004
       - name: orderId
         in: path
         description: 'Идентификатор стоп-заявки'
         required: true
         style: simple
         explode: false
         schema:
           type: integer
         example: 332350
       - name: format
         in: query
         description: 'Формат возвращаемого сервером JSON'
         required: false
         schema:
           type: string
           enum: 
            - Simple
         example: Simple
     responses:
       '200':
         description: ''
         content:
           application/json:
             schema:
              $ref: "#/components/schemas/stoporderWarp"
       '403':
         description: 'Недостаточно прав для получения информации об указанном portfolio' 
       '404': 
          description: 'Указанный orderId не найден'
     deprecated: false
     security: 
       - bearerAuth: []
  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit:
    post: 
      tags: 
        -  "Стоп-заявки v2 (beta)"
      summary: "Создание стоп-лимитной заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/stopLimit"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStopLimitTVWarp'
      parameters:
        - name: X-ALOR-REQID
          in: header
          description: 'Через точку с запятой портфель и уникальный идентификатор запроса ``portfolio;uid``. В качестве идентификатора запроса требуется уникальная случайная строка. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на предыдущий запрос с таким значением идентификатора.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "D39004;10338211158548488"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []

  /commandapi/warptrans/TRADE/v2/client/orders/actions/stop:
    post: 
      tags: 
        -  "Стоп-заявки v2 (beta)"
      summary: "Создание стоп заявки"
      description: ""
      operationId: "CommandAPI /v2/client/orders/actions/stop"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStopMarketTVWarp'
      parameters:
        - name: X-ALOR-REQID
          in: header
          description: 'Через точку с запятой портфель и уникальный идентификатор запроса ``portfolio;uid``. В качестве идентификатора запроса требуется уникальная случайная строка. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на предыдущий запрос с таким значением идентификатора.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "D39004;10338211158548488"
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []

  /commandapi/warptrans/TRADE/v2/client/orders/actions/stopLimit/{stopOrderId}:
    put:
      tags: 
        -  "Стоп-заявки v2 (beta)" 
      summary: "Изменение стоп-лимитной заявки"
      description: "Изменение стоп-лимитной заявки"
      operationId: "CommandAPI /v2/client/orders/actions/stopLimit/{stopOrderId}"
      requestBody:
        description: "Тело заявки"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodyrequest_OrdersActionsStopLimitTVWarp'
      parameters:
        - name: X-ALOR-REQID
          in: header
          description: 'Через точку с запятой портфель и уникальный идентификатор запроса ``portfolio;uid``. В качестве идентификатора запроса требуется уникальная случайная строка. Если уже приходил запрос с таким идентификатором, то заявка не будет исполнена повторно, а в качестве ответа будет возвращена копия ответа на предыдущий запрос с таким значением идентификатора.'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "D39004;10338211158548488"
        - name: "stopOrderId"
          in: path
          description: 'Идентификатор заявки'
          required: true
          example: "18946369167"
          schema:
            type: integer
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_LimitMarket_CommandAPI"
        '400':
          description: 'Bad request' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_400_CommandAPI"
      deprecated: false
      security: 
        - bearerAuth: []

  /commandapi/warptrans/TRADE/v2/client/orders/{orderId}/:
    delete: 
      tags: 
        -  "Стоп-заявки v2 (beta)"
      summary: "Снятие заявки"
      description: "Снятие заявки с указанным идентификатором"
      operationId: "CommandAPIWarp /v2/client/orders/delete"
      parameters:
        - name: orderId
          in: path
          description: 'Идентификатор заявки'
          required: true
          example: "18946369167"
          schema:
            type: integer
        - name: portfolio
          in: query
          description: 'Идентификатор клиентского портфеля'
          required: true
          schema:
            type: string
          example: "D39004"
        - name: exchange
          in: query
          description: 'Биржа'
          required: true
          schema:
            type: string
            enum:
              - "MOEX"
          example: "MOEX"
        - name: stop
          in: query
          description: 'Является стоп-заявкой? (тестирование: всегда true)'
          required: true
          schema:
            type: string
            enum:
            - "true"
            - "false"
          example: "true"          
        - name: jsonResponse
          in: query
          description: 'Ответ в формате JSON. В виде отдельного параметра для обратной совместимости.'
          required: false
          schema:
           type: boolean
           enum: 
            - true
            - false
           example: false
        - name: format
          in: query
          description: 'Формат возвращаемого сервером JSON'
          required: false
          schema:
            type: string
            enum: 
              - Simple
          example: "Simple"
          explode: true
      responses: 
        '200':
          description: 'OK' 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orders_actions_DeleteOrderId_CommandAPI"
        '400':
         description: 'Bad request'
         content:
          application/json:
            schema:          
                type: object
                properties:
                  "code":
                    type: string
                    example: "OrderToCancelNotFound (404)"
                    description: 'Тип ошибки'
                  "message":
                    type: string
                    example: "Order to cancel not found"
                    description: 'Описание ошибки'
      deprecated: false
      security: 
        - bearerAuth: []

  "/ws                   ":
    trace:
        tags:
          -  "Стоп-заявки v2 (beta)"
        summary: 'WebSocket подписка на информацию о стоп-заявках'
        description: |
            **Web Socket** запрос выполняется по URL `wss://api.alor.ru/ws` (бой) или `wss://apidev.alor.ru/ws` (тест).<br> Подписка на информацию о текущих заявках на рынке для выбранных биржи и финансового инструмента.
        operationId: WS_prod_StopOrdersSubscribeV2
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ws_req_StopOrdersGetAndSubscribeV2'
        responses:
          '200':
            description: 'Сообщение о результатах подписки'
            content:
[...]
